<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.formly.mapper.FormVersionMapper">

    <resultMap id="BaseResultMap" type="com.sakura.formly.model.entity.FormVersion">
            <id property="id" column="id" />
            <result property="formId" column="form_id" />
            <result property="versionNo" column="version_no" />
            <result property="versionLabel" column="version_label" />
            <result property="schemaJson" column="schema_json" />
            <result property="isPublished" column="is_published" />
            <result property="publishedAt" column="published_at" />
            <result property="createdBy" column="created_by" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="deletedAt" column="deleted_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,form_id,version_no,version_label,schema_json,is_published,
        published_at,created_by,created_at,updated_at,deleted_at
    </sql>
</mapper>
